*{
    color: white;
}
/* Css for left and right sides of page */
.left{
    background:rgb(59, 54, 54);
    overflow: auto;
    max-height: 100%;
}

.right{
    margin-top: 1em;
    height: 46.4rem;
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Basic design of the page */
html,
body{
    font-family: 'Sofia';
    height: 100%;
    background: rgb(48, 45, 59);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: blur(10px);

}

/* changing border radius on large devices */
@media (min-width : 992px) {
    .left {
        border-top-left-radius: 50px ;
        border-bottom-left-radius: 50px;
    }
    .right {
        
        border-top-right-radius: 50px ;
        border-bottom-right-radius: 50px;
    }
}

input{
    margin: 10px;
}


/* Adjusting size of left side on large devices */
@media (min-height: 666px) {
    .right{
        margin-top:1em;
        height: 35em;
    }
}


.sign-in{
    display: none;
    margin-top: 15px;
}


.myForm{
    background-color: rgb(65, 63, 61);
    border-radius: 25px;
}


.form-control{   
    transition-duration: 900ms;
    background: grey;
     border-radius: 1rem;
    width: 75%;
    height: 6vh;
     margin: auto;
    border-radius: 30px; 
    box-shadow: 10px;
    text-align: center;
}

.form-control:hover{
    
    transition-duration: 900ms;
    height: 8vh;
    width: 80%;
    background: rgb(175, 248, 248);
    border:  0.2rem solid rgb(0, 162, 255);
} 

.form-control:focus{
    
    transition-duration: 900ms;
    height: 8vh;
    width: 80%;
    background: rgb(131, 131, 131);
    border:  0.2rem solid rgb(0, 162, 255);
 
        
} 

.button{   
    transition-duration: 300ms;
    width: 12em;
    height: 8vh;
    border-width: 0.1rem;
    border-radius: 3rem;
    border-color: rgb(0, 162, 255);
    background-color: rgb(70, 69, 69);
}

.button:hover{
    transition-duration: 300ms;
    width: 14em;
    height: 10vh;
    font-size:larger;
    text-decoration: line-through;
    background-color: rgb(167, 228, 236);

}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img{
    transition-duration: 300ms;
    height: 3em;
    width: 3em;
}

.img:hover{
    transition-duration: 300ms;
    width: 5em;
    height: 5em;
}

/* Removing left side and adding backgroung on small devices */
@media (max-width: 991px) {
    html,
body{
    height: 100%;
    background:rgb(48, 45, 59);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: blur(10px);

    }

    .button{
        height: 3em;
    }
    .myForm{
        border-radius: 5px;
    }

    .column{
        padding: 5px;
        background: grey;
        border-radius: 5px;
    }
    .left{
        background: black;
    }
    .right{
        display: none;
    }
    .sign-in{
        display: inline;
        margin-top: 5px;
    }
}