/* Css for left and right sides of page */
.left{
    background:rgb(255, 224, 141);
    overflow: auto;
    max-height: 100%;
}

.right{
    margin-top: 1em;
    height: 46.4rem;
    background-image: repeating-linear-gradient(-45deg,
    rgb(255, 199, 46),
    rgb(255, 219, 57) 20px,
    rgb(243, 214, 87) 20px,
    rgb(243, 222, 36) 50px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Basic design of the page */
html,
body{
    font-family: 'Sofia';
    height: 100%;
    background: rgb(212, 212, 212);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: blur(10px);

}

/* changing border radius on large devices */
@media (min-width : 992px) {
    .left {
        border-top-left-radius: 50px ;
        border-bottom-left-radius: 50px;
    }
    .right {
        
        border-top-right-radius: 50px ;
        border-bottom-right-radius: 50px;
    }
}

input{
    margin: 10px;
}


/* Adjusting size of left side on large devices */
@media (min-height: 666px) {
    .right{
        margin-top:1em;
        height: 35em;
    }
}



.sign-in{
    display: none;
    margin-top: 15px;
}


.myForm{
    background-color: bisque;
    border-radius: 25px;
}


.form-control{
    transition-duration: 900ms;
     border-radius: 1rem;
    width: 75%;
    height: 6vh;
     margin: auto;
    border-radius: 30px; 
    box-shadow: 10px;
    text-align: center;
}

.form-control:hover{
    
    transition-duration: 900ms;
    height: 8vh;
    width: 80%;
    background: rgb(175, 248, 248);
    border:  0.2rem solid rgb(0, 162, 255);
} 

.form-control:focus{
    
    transition-duration: 900ms;
    height: 8vh;
    width: 80%;
    background: rgb(248, 175, 226);
    border:  0.2rem solid rgb(0, 162, 255);
 
        
} 

.button{   
    transition-duration: 300ms;
    width: 12em;
    height: 8vh;
    border-width: 0.1rem;
    border-radius: 3rem;
    border-color: rgb(0, 162, 255);
    background-color: rgb(255, 255, 255);
}

.button:hover{
    transition-duration: 300ms;
    width: 16em;
    height: 10vh;
    font-size:larger;
    text-decoration: line-through;
    background-color: rgb(167, 228, 236);

}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.img{
    transition-duration: 300ms;
    height: 3em;
    width: 3em;
}

.img:hover{
    transition-duration: 300ms;
    width: 5em;
    height: 5em;
}

/* Removing left side and adding backgroung on small devices */
@media (max-width: 991px) {
    html,
body{
    height: 100%;
    background-image: repeating-linear-gradient(-45deg,
    rgb(0, 200, 250),
    rgb(31, 177, 235) 20px,
    rgb(51, 152, 235) 20px,
    rgb(116, 204, 255) 60px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    backdrop-filter: blur(10px);

}
.button{
    height: 3em;
}
    .right{
        display: none;
        padding-top: 5px;
    }
    .sign-in{
        display: inline;
    }
}




